

.control-panel {
    text-align: right;
}


.triangle2 {
    position: relative;
    width:0;
	border-top: 15px solid transparent;
	border-left: 25px solid #110aff;
	border-bottom: 15px solid transparent;
}

.triangle2 .empty {
    position: absolute;
    top:-9px;
    left:-22px;
    width:0;
	border-top: 9px solid transparent;
	border-left: 15px solid #fff;
	border-bottom: 9px solid transparent;
}

.double-bar {
    position: relative;
    margin: 1px;
    float: left;
    background-color: #110aff;
    height: 25px;
    width: 7px;
}

.double-bar-inner {
    position: absolute;
    float: left;
    top: 1px;
    left: 1px;
    background-color: white;
    height: 23px;
    width: 5px;
}

.stop {
    position: relative;
    margin: 1px 20px 1px 1px;
    float: left;
    background-color: #555;
    height: 25px;
    width: 25px;
}

.stop-inner {
    position: absolute;
    float: left;
    top: 1px;
    left: 1px;
    background-color: white;
    height: 23px;
    width: 23px;
}

.speedvalue {
    display: inline-block;
    border: 1px solid #555;
    border-radius: 50px;
    width: 100px;
    height: 40px;
}

.button-up-down {
    display: inline-block;
    position: relative;
    border: 1px solid #555;
    border-radius: 0 50px 50px 0;
    color: #110aff;
    height: 20px;
    width: 50px;
    margin: 0;
    padding: 0px 5px 0px 5px;
}

.buttons-menu {
    display: inline-block;
}

.rangeselect {

}

.speedvalval {
    display: inline-block;
}

#speedvalx-input {
    
    display: inline-block;
    position: relative;
    border: 0;
    width: 50px;

}

/*
#speedvalx-input:hover {
    border: 0;
    width: 50px;
    position: relative;
    display: inline-block;
}

#speedvalx-input:active {
    border: 0;
    width: 50px;
    position: relative;
    display: inline-block;
}
*/

