@import 'buttons.css';
@import 'map.css';
@import 'targets.css';
@import 'controlPanel.css';
@import 'models.css';
@import 'additional.css';

.wraparound {
	border: 1px solid #000;
	margin-top: 200px;
	width: 800px;
	font-family: 'Montserrat', sans-serif;
}

.map-container {
	border: 1px solid #000;
	margin-top: 200px;
	margin-left: 300px;
	width: 750px;
	font-family: 'Montserrat', sans-serif;
}


.arrow-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-left: 10px solid #ffffff;
}


.button.pause {
	width: 74px;
	height: 74px;
	border-style: double;
	border-width: 0px 0px 0px 37px;
	border-color: blue;
	margin: 5px;
}


