.target-type-btn {
	width: 100%;
	margin: 0;
	padding: 1px;
	background-color: rgba(0, 0, 0, 0);
	text-align: left;

}

.target-type-btn:hover {
	background-color: rgba(173, 216, 230, 0.5);
}

.target-type-btn:active {
	background-color: rgb(173, 216, 230);
}